<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tiregdev.hi_depok">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/hi_depok"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.WelcomeActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MenuActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SplashScreenActivity"
            android:noHistory="true" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.SignUpActivity" />
        <activity android:name=".activity.VerifySignUpActivity" />
        <activity android:name=".activity.ForgotPassActivity" />
        <activity android:name=".activity.edit_profile"
            android:label="Edit Profile"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden" />
    </application>

</manifest>