<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tiregdev.hi_depok">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/hi_depok"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activity.WelcomeActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MenuActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SplashScreenActivity"
            android:noHistory="true" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.SignUpActivity" />
        <activity android:name=".activity.VerifySignUpActivity" />
        <activity android:name=".activity.ForgotPassActivity" />
        <activity
            android:name=".activity.edit_profile"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Edit Profile"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden" />
        <activity
            android:name=".activity.maps"
            android:label="Cari Data"
            android:theme="@style/tireg.menu" />
        <activity
            android:name=".activity.pesan"
            android:label="Pesan" />
        <activity
            android:name=".activity.search_list"
            android:label="Cari Data" />
        <activity
            android:name=".activity.detail_search"
            android:label="Detail Data" />
        <activity
            android:name=".activity.detail_karya"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Detail Karya"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.detail_modul"
            android:label="Detail Modul" />
        <activity
            android:name=".activity.detail_museum"
            android:label="Detail Penghargaan" />
        <activity
            android:name=".activity.space_room"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form Space Room"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden" />
        <activity
            android:name=".activity.volunteer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form Volunteer"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden" />
        <activity
            android:name=".activity.submit_master_karya"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Submit"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden" />
        <activity android:name=".activity.detail_news_blog" />
        <activity
            android:name=".activity.sahabat_kos"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Sahabat Kos"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden" />
        <activity android:name=".activity.detail_kos" />
        <activity
            android:name=".activity.ntpd"
            android:label="NTPD" />
        <activity android:name=".activity.about" />
        <activity android:name=".activity.faq"
            android:label="FAQ" />
        <activity
            android:name=".activity.change_avatar"
            android:label="Change Avatar" />
        <activity android:name=".activity.rsud"
            android:label="Registrasi RSUD Depok"/>
    </application>

</manifest>